body{
    background-color: #dfe5fd;
}

.title{
    color: #051622;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    margin-top: -40px;
}

h1{
    color:#1F3044;
    font-family: cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 80px;
}

p{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
}

img{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

.location{
    text-decoration: none; 
    margin-top: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    border-color: #4FA8C2;
    border-style: solid;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.location:hover{
    cursor: pointer;
    text-decoration: none;
    background-color: #4FA8C2;
    transition: 0.4s;
    color: white;
}

.frame {
  max-width: 650px;
  position: relative;
  margin: auto;
}

.content-box{
    background: #fafafa;
    padding: 80px 80px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-left: 160px;
    margin-right: 160px;
}